<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calling...</title>
    <!-- <script src="jquery.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- <script src="peer.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.2/peerjs.min.js"></script>
    <!-- <script src="socket.io.js"></script> -->
    <script
      src="https://cdn.socket.io/3.1.3/socket.io.min.js"
      integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
      crossorigin="anonymous"
    ></script>

    <script src="/js/prebid-ads.js"></script>
  <script>
    setTimeout(function() {
      if( window.canRunAds === undefined ){
      // adblocker detected, show fallback
      alert("AdBlock detect. Please disable")
      
      // window.location.href = window.location.href
    }
    }, 1000)
  </script>
  </head>
  <body>
    <h3 id="my-peer"></h3>
    <video id="localStream" width="25%" muted autoplay style="position: absolute; right: 1%; bottom: 2%; border-radius: 5%; z-index: 1000;"></video>
    <br /><br />
    <h3 id="remoteid"></h3>
    <img id='calling-gif' src="https://www.hicomaccounting.com.au/assets/images/CallUs.gif" alt="" srcset="" style="/* Make video to at least 100% wide and tall */
    /* min-width: 100%;  */
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);">
    <video id="remoteStream" autoplay style="/* Make video to at least 100% wide and tall */
    /* min-width: 100%;  */
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);"></video>
    <br /><br />
      <div id="toolbar" style="position: absolute; bottom: 1rem; left: 0; right: 0; text-align: center;">
        <!-- <img src="/img/end-call-icon.jpg" alt="" style="width: 4.5rem;"> -->
        <img id="btn-end-call" src="/img/end-call-icon.jpg" alt="" style="width: 5.5rem; cursor: pointer;">
        <!-- <img src="/img/end-call-icon.jpg" alt="" style="width: 4.5rem;"> -->
        
      </div>
  </body>
  <script src="/js/call.js"></script>
  
</html>
